.cards-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  background-color: white;
  border: 1px solid gray;
  width: 200px;
  height: 250px;
}

.card img {
  width: 80px;
}

.card h4 {
  font-size: 20px;

}

.card p {
  font-size: 12px;
  color: gray;
  text-shadow: none;
}
